<div class="container">
  <div *ngIf="state.isLoading" class="row">
    <div class="col-12">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!state.isLoading" class="row">
    <div *ngFor="let expert of list" class="col-lg-4 text-center">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h3>{{expert.name}}</h3>
      <h4>{{expert.expertise}}</h4>
      <p><a class="btn btn-primary" [routerLink]="['/experts/' + expert.id]">View details »</a></p>
    </div>
  </div>

</div>
