<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">BeIn Expert Appointments</a>
    <select class="form-control" (change)="timezoneSelected($event)">
      <option [ngValue]="null">auto</option>
      <option *ngFor="let tz of object.keys(timezones)" [ngValue]="tz">{{timezones[tz]}}</option>
    </select>
  </nav>
</header>

<main role="main" style="margin-top: 100px">
  <router-outlet></router-outlet>
</main>
