<div class="container">
  <div *ngIf="state.isLoading" class="row">
    <div class="col-12">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
          aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!state.isLoading && success">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div>
        <p>
          Your appointment will be on <br />
          {{success.from.format('DD MMMM YYYY')}} <br />
          from {{success.from.format('h:mm A')}}
          to {{success.to.format('h:mm A')}}
        </p>
        <p>
          <a class="alert-link" [routerLink]="['/']">Start Over!</a>
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="!state.isLoading && !success" class="row justify-content-center">
    <div class="col-6">
      <div *ngIf="errors" class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div>{{errors}}</div>
      </div>
      <form [formGroup]="form" (submit)="form.valid && submit()">
        <div class="form-group">
          <label>Date</label>
          <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="date">
          <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
        </div>
        <div class="form-group">
          <label>Duration</label>
          <select class="form-control" formControlName="duration">
            <option value="15">15 min</option>
            <option value="30">30 min</option>
            <option value="45">45 min</option>
            <option value="60">60 min</option>
          </select>
        </div>
        <div class="form-group">
          <label>Time Slot</label>
          <select class="form-control" formControlName="timeSlot">
            <option [ngValue]="null">---</option>
            <option *ngFor="let slot of timeSlots" [ngValue]="slot.value">{{slot.label}}</option>
          </select>
        </div>
        <div *ngIf="form.get('timeSlot').value" class="form-group">
          Your appointment will be on <br />
          {{form.get('timeSlot').value.from.format('DD MMMM YYYY')}} <br />
          from {{form.get('timeSlot').value.from.format('h:mm A')}}
          to {{form.get('timeSlot').value.to.format('h:mm A')}}
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Book</button>
      </form>
    </div>
  </div>
</div>
